{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="px-3 py-3 text-center">
            <h1 class="display-4">About this project</h1>
            <div class="my-2">
                <img style="max-width: 600px; width: 100%;" src="{{ url_for('static', filename='https://mytourcdn.com/upload_images/Image/Location/8_1_2015/Thanh-co-son-tay-mytour-8.jpg') }}" alt="">
            </div>
            <p class="lead">This project is aimed to help Pytorch machine learning developers to quickly build a Flask
                web app
                in a Docker container ready to be deployed. <br> <a
                    href="https://github.com/linhduongtuan/ColonRectal_Histopathology_Diagnosis"> View on GitHub</a></p>
            <p>
                <br> <a
               href="https://covidresearch.ai/datasets/dataset?id=2"> Our models were trained based on dataset which were published in papers: Wang L, Wong A. COVID-net: A tailored deep convolutional neural network design for detection of COVID-19 cases from chest radiography images. arXiv:200309871 [cs, eess]. 2020. http://arxiv.org/abs/2003.09871. Accessed 10 Apr 2020.

& Cohen JP, Morrison P, Dao L. COVID-19 Image Data Collection. arXiv:200311597 [cs, eess, q-bio]. 2020. http://arxiv.org/abs/2003.11597. Accessed 11 Apr 2020.  <br> </a> .

            </p>
            </p>

        </div>
    </div>
</div>
{% endblock %}
