{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-10">Pytorch Flask Docker App</h1>
      <p class="lead">This project is aimed to build computer-aided to diagnose Covid-19 from chest X ray images<br> <a
          href="https://github.com/linhduongtuan/Covid-19_Xray_Classifier"> View on GitHub</a></p>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-6 offset-sm-3 my-5">
      <center>
        <p class="text-muted">
          <br> <a
          href="https://covidresearch.ai/datasets/dataset?id=2"> Our models were trained based on dataset which were published in papers: Wang L, Wong A. COVID-net: A tailored deep convolutional neural network design for detection of COVID-19 cases from chest radiography images. arXiv:200309871 [cs, eess]. 2020. http://arxiv.org/abs/2003.09871. Accessed 10 Apr 2020.

& Cohen JP, Morrison P, Dao L. COVID-19 Image Data Collection. arXiv:200311597 [cs, eess, q-bio]. 2020. http://arxiv.org/abs/2003.11597. Accessed 11 Apr 2020.  <br> </a> .

        </p>
      </center>
    </div>
  </div>
</div>
{% endblock %}



